<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mjmspred.mapper.EmployeeMapper">
    <resultMap id="BaseResultMap" type="com.mjmspred.model.Employee">
        <!--@mbg.generated-->
        <!--@Table employee-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="emp_id" jdbcType="VARCHAR" property="empId"/>
        <result column="emp_name" jdbcType="VARCHAR" property="empName"/>
        <result column="gender" jdbcType="CHAR" property="gender"/>
        <result column="dept" jdbcType="VARCHAR" property="dept"/>
        <result column="id_number" jdbcType="CHAR" property="idNumber"/>
        <result column="position" jdbcType="VARCHAR" property="position"/>
        <result column="rank" jdbcType="VARCHAR" property="rank"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        emp_id,
        emp_name,
        gender,
        dept,
        id_number,
        "position",
        "rank",
        title,
        update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from employee
        where id = #{id,jdbcType=BIGINT}
    </select>
</mapper>