<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mjmspred.mapper.meal.MealRecordsMapper">
    <resultMap id="BaseResultMap" type="com.mjmspred.model.meal.MealRecords">
        <!--@mbg.generated-->
        <!--@Table MealRecords-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="emp_id" jdbcType="VARCHAR" property="empId"/>
        <result column="card_id" jdbcType="BIGINT" property="cardId"/>
        <result column="clock_id" jdbcType="INTEGER" property="clockId"/>
        <result column="pos_sequ" jdbcType="INTEGER" property="posSequ"/>
        <result column="card_sequ" jdbcType="INTEGER" property="cardSequ"/>
        <result column="card_consume" jdbcType="OTHER" property="cardConsume"/>
        <result column="mval" jdbcType="OTHER" property="mval"/>
        <result column="coupon" jdbcType="OTHER" property="coupon"/>
        <result column="card_balance" jdbcType="OTHER" property="cardBalance"/>
        <result column="a_balance" jdbcType="OTHER" property="aBalance"/>
        <result column="kind" jdbcType="INTEGER" property="kind"/>
        <result column="ver_id" jdbcType="INTEGER" property="verId"/>
        <result column="flag" jdbcType="INTEGER" property="flag"/>
        <result column="sign_time" jdbcType="TIMESTAMP" property="signTime"/>
        <result column="dcollecttime" jdbcType="TIMESTAMP" property="dcollecttime"/>
        <result column="op_user" jdbcType="VARCHAR" property="opUser"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        emp_id,
        card_id,
        clock_id,
        pos_sequ,
        card_sequ,
        card_consume,
        mval,
        coupon,
        card_balance,
        a_balance,
        kind,
        ver_id,
        flag,
        sign_time,
        dcollecttime,
        op_user
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from MealRecords
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="page" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM MealRecords
        <where>
            <if test="query.cardId != null">
                card_id = #{query.cardId,jdbcType=BIGINT}
            </if>
            <if test="query.maxConsume != null">
                AND card_consume &gt;= -#{query.maxConsume,jdbcType=DECIMAL}
            </if>
            <if test="query.minConsume != null">
                AND card_consume &lt;= -#{query.minConsume,jdbcType=DECIMAL}
            </if>
            <if test="query.empId != null">
                AND emp_id = #{query.empId,jdbcType=VARCHAR}
            </if>
            <if test="query.sdatetime != null">
                AND sign_time &gt;= #{query.sdatetime,jdbcType=TIMESTAMP}
            </if>
            <if test="query.edatetime != null">
                AND sign_time &lt;= #{query.edatetime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
</mapper>